@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Noto+Sans+JP:wght@100..900&display=swap');
@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --color-font-primary: #262626;
  --color-black: #262626;
  --color-section: #F5F7F6;
  --color-warning: #cf6666;

  --color-white: #ffffff;
  --color-gray-light: #f3f3f3;
  --font-size-title: 1.8rem;

  /* fonts */
  --font-family-primary: "Lato", sans-serif;
  --font-family-figtree: "Figtree", sans-serif;
  --font-family-noto-sans-jp: "Noto Sans JP", sans-serif;
}

@utility text-title {
  font-size: var(--font-size-title);
}

@utility text-pagetitle {
  font-size: 1.4rem;
  font-weight: bold;
  text-align: center;
}

@layer components {
  .input-custom {
    @apply bg-white mt-[0.4rem] px-[1rem] border-gray-light !shadow-none text-[1.2rem];
  }
}

@layer utilities {
  .font-family-figtree {
    font-family: var(--font-family-figtree);
  }

  .font-family-lato {
    font-family: var(--font-family-lato);
  }

  .font-family-noto-sans-jp {
    font-family: var(--font-family-noto-sans-jp);
  }
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  color: #262626;
  font-size: 1.2rem;
  font-family: "Lato", sans-serif;
  color: var(--color-black);
}
